mixin meta(name,content)
    - content||(content='')
    meta(name=name, content=content)&attributes(attributes)

mixin link(href,rel)
    - rel||(rel='stylesheet')
    link(rel=rel, href=href)&attributes(attributes)

mixin tag(date,data)
    span (
        | #{date}
        unless data.length === 0
            | - 标签:
            each item, index in data
                a(href=item.href)&attributes(attributes) #{item.name}
                unless index >= data.length - 1
                    | 、
            span -
        span )