extends ./template/layout
block title
   | z-im
block keyword
   meta(name="keyword", content="z-im.com,前端分享,个人博客")
block keyword
   meta(name="description", content="z-im.com，分享前端技术")
block body
   include data/index.pug
   #home.z-container
      each item in list
         section.end-list.ql-snow
            .title.pull-left
               a(href=item.href) #{item.title}
            .meta.pull-right
               .time #{item.date}
               .cate #{item.cate}
            .desc!=item.desc
            .more
               a(href=item.href) 阅读全文
      .archives.text-center
         a(href='/blog/archives.html') 归档